.right-col-empty{
    display: flex;
    flex-direction: column;
}

.cross-pic{
    width: 76px;
    height: 62px;
    margin-top: 221px;
    margin-left: 355px;
}

.empty-message{
    font-family: 'Inter';
    font-size: 22px;
    font-weight: 400;
    line-height: 31px;
    margin-top: 48px;
    color: #808080;
    margin-left: 261px;
    white-space: nowrap;
}

@media only screen and (max-width: 842px){
    
    .right-col-empty{
        margin-top: 160px;
        margin-left: -350px;
    }

    .cross-pic{
        width: 50px;
        height: 36px;
    }

    .empty-message{
        font-size: 19px;
        margin-top: 28px;
    }

}

