body{
    height: 100vh;
    overflow: hidden;
}

.search-box{
    display: flex;
    flex-direction: row;
}

.blue-line{
display: flex;
flex-direction: row;
height: 72px;
width: 1366px;
left: 0px;
top: 0px;
border-radius: 0px;
background: #0064EB;
}

.white-line{
display: flex;
flex-direction: row;
height: 40px;
width: 500px;
left: 0px;
top: 0px;
margin-left: 22.2px;
margin-top: 16px;
background: #FFFFFF;
border-radius: 6px;
border-color: #FFFFFF;
}

.octocat-image{
height: 40.004547119140625px;
width: 40.98481369018555px;
margin-top: 16px;
margin-left: 41px;
}

.search-image{
    height: 14px;
    width: 14.000186920166016px;
    left: 5px;
    top: 5px;
    border-radius: 0px;
    margin-top: 13px;
    margin-left: 19px;    
}

.search-txt{
    height: 24px;
    width: 256px;
    border-radius: 0px;
    border: none;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 11px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    letter-spacing: 0.01em;
    color: #808080;
}

.search-txt:focus{
    color:black;
}

.wrapper-output{ 
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
    background-color: #F9F9F9;
}

.left-col{
    display: flex;
    flex-direction: column;
    margin-left: 57px;
}

.follows{
    display: flex;
    flex-direction: column;
}

.user-foto{
    width: 280px;
    height: 280px;
    margin-top: 39px;
    margin-bottom: 29px;
    border-radius: 50%;
}

.user-name{
    font-family: 'Inter';
    font-size: 26px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 12px;

}

.nickname{
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #0064EB;
    margin-bottom: 25.24px;
}

.user-info{
    display: flex;
    flex-direction: row;
    margin-top: 25.24px;
}

.followers{
    margin-right: 20px;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.following{
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.followers-img{
    height: 14px;
    width:22.08px;
    margin-right: 8.92px;
    margin-top: 4px;
}

.following-img{
    height: 14px;
    width: 16.06px;
    margin-right: 12px;
    margin-top: 4px;
}

.right-col{
    display: flex;
    flex-direction: column;
}

.repo-number{
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 28px;
    margin-bottom: 29px;
}

.repo-block{
    resize: both;
    width: auto;
    height: auto;
    width: 877px;
    height: 112px;
    background-color: #FFFFFF;
    margin-right: 56px;
    margin-bottom: 24px;
}

.repo-name{
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    margin-bottom: 16px;
    margin-left: 32px;
    margin-top: 24px;
    color: #0064EB;
}

.repo-description{
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    margin-left: 32px;
}

.footer{
    float: right;
    margin-bottom: 28px;
    margin-right: 69px;
}

.pagination {
    margin: 15px auto;
    display: flex;
    list-style: none;
    outline: none;
  }

  .pagination > .selected > a{
    background-color: #0064EB;
    color: #fff;
    border-radius: 3px;
  }

  .pagination > li > a{
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
    
  }
  .pagination:hover{
      color: #0064EB;
  }
  .pagination > li > a, .pagination > li > span{
    color: #808080;
  }

  
  

@media only screen and (min-width: 1280px) {

    .repo-name{
        font-family: 'Inter';
        font-size: 17px;
        font-weight: 500;
        line-height: 29px;
        margin-bottom: 8px;
        margin-left: 32px;
        margin-top: 6px;
        color: #0064EB;
    }
    
    .repo-description{
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0px;
        margin-left: 32px;
    }

    .repo-block{
        resize: both;
        width: auto;
        height: auto;
        width: 700px;
        height: 70px;
        background-color: #FFFFFF;
        margin-right: 56px;
        margin-bottom: 24px;
    }
}